#map-canvas {
	margin: 0;
	padding: 0;
	height: 400px;
	max-width: none;
}
#map-canvas img {
	max-width: none !important;
}
.gm-style-iw {
	width: 280px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	height:320px;
	min-height: 320px;
	max-height:300px;
    margin-bottom: 30px;
}

.gm-style-iw-d{
	max-height:300px !important;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	
}
#iw-container .iw-content {
	
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	
}